<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jd.b2b.shardingjdbc.mapper.OrderMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="orderId">
        INSERT INTO t_order (
          user_id, status
        )
        VALUES (
        #{userId,jdbcType=INTEGER},
        #{status,jdbcType=VARCHAR}
        )
    </insert>
    
    <delete id="delete">
        DELETE FROM t_order WHERE order_id = #{orderId,jdbcType=INTEGER}
    </delete>

    <insert id="batchInsert" useGeneratedKeys="true">
      INSERT INTO t_order (
          user_id, status
        )
        VALUES
        <foreach collection="orderList" separator=";" item="order" index="index"></foreach>
        (
        #{order.userId,jdbcType=INTEGER},
        #{order.status,jdbcType=VARCHAR}
        )
    </insert>

    <select id="selectUnion" parameterType="java.lang.Long" resultType="java.lang.Long">
        SELECT
            order_id
        FROM
            t_order o
        WHERE
            o.order_id = #{orderId}
        UNION
            SELECT
                order_id
            FROM
                t_order_item oi
        where oi.order_id = #{orderId}
    </select>

    <select id="selector" resultType="com.jd.b2b.shardingjdbc.domain.Order">
        SELECT
            *
        FROM
            t_order o
        WHERE
            o.order_id = 2
            or
            o.order_id = 3
    </select>

    <select id="selectAll" resultType="com.jd.b2b.shardingjdbc.domain.Order">
        SELECT
        *
        FROM
        t_order
        limit 10
    </select>
</mapper>
